body {
  width: 36em;
  margin: auto;
  background-image: url(img/debian-swirl.png);
  background-position: top left;
  background-repeat: repeat-y;
}

#langselect {
  font-size: x-small;
}

#postlang {
  display: none;
}

p {
  text-align: justify;
}

a {
  color: #d9137a;
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

ul {
    list-style-image: url(img/debian-dot.png);
}

pre {
  color: #000;
  background-color: #bbb;
  padding: 0.5em;
  border: 1px dotted #888;
  overflow: auto;
}

h1, h2, h3, h4, h5¸ h6 {
  font-family: sans-serif;
  background-color: transparent;
  border-bottom: 1px solid #000;
  margin-bottom: 0.25em;
  color: #d9137a;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#patrons {
  margin: 1em 0 0;
}

#patrons thead {
  font-weight: bolder;
}

#patrons tr {
  border-bottom: 1px solid black;
}

#patrons td {
  padding: 0.25em 0;
}

img {
  border: none;
}

.sponsor-logo {
  float: right;
  margin: 1em 0 0 1em;
}

#tshirts,
#knives {
  margin: 1em 0 0;
}

#tshirts thead,
#knives thead {
  background-color: #366;
  color: #fff;
  font-weight: bolder;
}

#tshirts tr,
#knives tr {
  border-bottom: 1px solid #366;
}

#tshirts td,
#knives td {
  padding: 0.25em 0;
}

#tshirts img,
#knives img {
  vertical-align: middle;
  border: 0;
  width: 50px;
}

#foilstickers {
  margin: 1em 0 0;
}

#foilstickers thead {
  background-color: #366;
  color: #fff;
  font-weight: bolder;
}

#foilstickers tr {
  border-bottom: 1px solid #366;
}

#foilstickers td {
  padding: 0.25em 0;
}

#foilstickers img {
  vertical-align: middle;
  border: 0;
  width: 50px;
}

#umbrellas {
  margin: 1em 0 0;
}

#umbrellas thead {
  background-color: #366;
  color: #fff;
  font-weight: bolder;
}

#umbrellas tr {
  border-bottom: 1px solid #366;
}

#umbrellas td {
  padding: 0.25em 0;
}

#umbrellas img {
  vertical-align: middle;
  border: 0;
  width: 50px;
}

.stock {
  text-align: right;
}
